// footer

footer {
    margin: 1em 0 1em 0;

    img {
        width: 113px;
        margin: 0 10px -6px 0;
    }

    span {
        font-size: 12px;
    }

    img, span {
        color: $text-footer;
    }
}